<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" type="text/js" href="signup.js"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/passwordreset.css" th:href="@{/css/passwordreset.css}">

</head>
<body>
<center><h1><strong style="color: #0e5a80;">Reset Password</strong></h1></center>
<br>
<br>
<br>
<center><h3 style="color: #0e5a80;"> Click below to reset your password</h3></center>

<br>

<center>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Reset Password
    </button>
</center>

<div class="modal fade" id="myModal" role="dialog">

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
                <h4> Reset Password</h4>
            </div>
            <div style="height: 200px" class="modal-body">
                <div id="forget password">
                    <div class="form-content" style="padding: 10px 10px 5px 20px;">

                        <form th:action="@{/reap/reset}" method="post">
                            <div class="wrapper" style="margin:0px;padding:0px;">
                                <div class="form-element">
                                    <label style="width: 200px;text-align: left">Password<sup>*</sup></label>
                                    <input style="width: 200px;" type="password" name="password" required>
                                </div>
                                <br>
                                <br>
                                <!--<div class="form-element">
                                    <label style="width:200px;text-align: left">Confirm Password<sup>*</sup></label>
                                    <input style="width: 200px;" type="password" name="confirm-password" required>
                                </div>-->


                                <input type="submit" class="btn btn-primary"
                                       style="float:right;height: 35px; width: 110px; margin-top: 35px; margin-left:500px"
                                       value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>